*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 50px;
    background-color: white;
}
#logo a img{
    width: 43px;
    height: 37px;
    padding: 8px 16px 8px 16px;
    
}
section{
    width: 100%;
    height: 500px;
    background-image: url(img/background_in_space.gif);
}